.btn-secondary{
    background-color: #9bd0f0 !important;
    border-color: #9bd0f0 !important;
    color: black !important;
    box-shadow: none !important;
    
}
.menudemenu{
    background-color: white !important;
    h6{
        color: rgb(83, 83, 83) !important;
    }
    
}
.itemsM{
    background-color: white !important;
    color: black !important;
}
.itemsM:hover{
    background-color: #D8D2CB  !important;
}