
.lista{
    background-color: #9bd0f0 ;
    width: 14rem;
    height: 41.1rem;
    margin-bottom: 0px;

    ul{
        list-style: none;
        
        

    }
    li{
        margin-bottom: 1rem;
        margin-right:  1rem;
    }
    font-family: 'Mukta', sans-serif;
    list-style:none;
    a{
        text-decoration: none;
        &.active{
            background-color: #D8D2CB ;
        }
    }
}
.logo{
    width: 100px;
    height: 105px;
    border-radius: 50%;
    margin-left: 33px;
}


