.lista{
    background-color: #9bd0f0 ;
    width: 14rem;
    height: 60.1rem;
    margin-bottom: 0px;
	position: fixed;

    ul{
        list-style: none;
       
        

    }
    li{
        margin-bottom: 1rem;
        margin-right:  1rem;
    }
    font-family: 'Mukta', sans-serif;
    list-style:none;
    a{
        color: #070707;
        text-decoration: none;
        transition: all 0.2s ease;
        &.active{
            background-color: #D8D2CB ;
            border-radius: 2rem;
        }
    }
    
    a:hover{
        color: rgb(0, 0, 0);
    }
    
}


.logo{
    width: 100px;
    height: 105px;
    border-radius: 50%;
    margin-left: 33px;
}
.chiloLi{
    margin-left: -4.9px;
}