.botonLo {
    width: 130px;
    padding: 0.9em 1.9em;
    border: 2px solid #000000;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s;
    z-index: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    margin-left: 78px;
   }
   
   .botonLo::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #000000;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .botonLo:hover::before {
    width: 105%;
   }
   
   .botonLo:hover {
    color: rgb(255, 255, 255);
   }