.regular-style{
    border: 1px solid rgb(239, 243, 232);
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(0, 0, 0);

}
.regular-style::placeholder{
    color: rgb(255, 255, 255);
}
.input-error {
    border: 1px solid rgb(235, 144, 144);
    color: rgb(0, 0, 0);
    background: rgb(235, 144, 144);
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15;
    font-size: 18px;
}
