html, body {
	min-height: 100%;
}

.contenido-in{
	display: flex;
}
.home-contenido{
	height: 100%;
	width: 100%;
    
}
* {
	margin: 0;
	padding: 0;
}


.boton-salir-home{
	margin-left: 14px;
}


