html, body {
	min-height: 100%;
}

.contenido-in{
	display: flex;
	margin-left: 250px;
}
.home-contenido{
	height: 100%;
	width: 100%;
    
}
.form-inputs{
	display: block;
	width: 75%;
	margin-left: 250px;
	padding-top: 10px;
}
input:invalid{
	border: red solid 3px;
}
.img-paciente{
	width: 10%;
	margin-left: 250px;
	padding-top: 10px;
}
#first {
    float:left;
	padding: 50px;
}
#second {
    overflow: hidden;
	padding: 50px;
}
* {
	margin: 0;
	padding: 0;
}


.boton-salir-home{
	margin-left: 14px;
}

.contenido-in-historiales{
	margin-left: 250px;

}

.paciente-historiales{
	margin-left: 150px;
}

.separar{
	display: grid;
}
.botonesAd{
	display: block;
	width: 105%;
	padding-top: 230px;
	grid-column: 2 / 4;
  	grid-row: 1 / 3;
	margin-left: -100px;
}
.circulo{
	display: block;
	padding-top: -200px;
	margin-left: 300px;
}
