html, body {
	min-height: 100%;
}

.contenido-in{
	display: flex;
	margin-left: 250px;
}
.home-contenido{
	height: 100%;
	width: 100%;
    
}
.form-inputs{
	display: block;
	width: 75%;
	margin-left: 250px;
	padding-top: 10px;
}
input:invalid{
	border: red solid 3px;
}
.img-paciente{
	width: 70%;
	margin-left: 250px;
	padding-top: 10px;
}
.img-pacientee{
	width: 10%;
	margin-left: 250px;
	padding-top: 10px;
}
#first {
    float:left;
	padding: 50px;
}
#second {
    overflow: hidden;
	padding: 50px;
}
* {
	margin: 0;
	padding: 0;
}


.boton-salir-home{
	margin-left: 14px;
}

.contenido-in-historiales{
	margin-left: 250px;

}

.paciente-historiales{
	margin-left: 150px;
}

.separar{
	display: grid;
}
.botonesAd{
	display: block;
	width: 105%;
	padding-top: 230px;
	grid-column: 2 / 4;
  	grid-row: 1 / 3;
	margin-left: -100px;
}
.circulo{
	display: block;
	padding-top: -200px;
	margin-left: 300px;
}
.contenido-cita{
	display: flex;
	margin-left: 225px;
}
.barras{
	display: flex;
	margin-left: 250px;
	margin-top: -60px;
}
.larec{
	display: flex;
	width: 500%;
	margin-left: -40px;
}
.larec2{
	display: flex;
	width: 500%;
	margin-left: 125px;
}
.larec3{
	display: flex;
	width: 500%;
	margin-left: 105px;
}
.Receta-centro{
	display: flex;
	width: 500%;
	margin-left: 60px;
}
.pac12{
	display: flex;
	width: 500%;
	margin-left: -350px;
	
	
}
.pac1{
	display: flex;
	width: 500%;
	margin-left: -350px;
	font-weight: bold;
	
}
.Receta-borde{
	margin-left: -360px;
	border: rgb(36, 35, 35) 2px solid;
	border-radius: 2em;
	width: 270%;
	height: 100%;
}
.pac11{
	margin-left: 10px;
	font-weight: bold;
}
.pac112{
	margin-left: 10px;
	width: 70%;
	height: 100%;
}
.receta-rec{
	margin-left: -140px;
	margin-top: 30px;
	width: 600%;
	height: 320%;
	border: rgb(36, 35, 35) 2px solid;
}
.pacrece{
	margin-left: 10px;
	font-weight: bold;
}
.pacrece1{
	margin-left: 40px;
	width: 90%;
	height: 80%;
}
.impribot{
	margin-left: 700px;
}
.DivImprimir{
	display: none;
}
.hola-in{
	margin-left: 770px;	
}
.ima-log{
	margin-left: 200px;
}
.ima-loggg{
	margin-left: 40px;
}
.ima-logggg{
	margin-left: 20px;
}
.Total-rojo{
	color: rgb(247, 63, 63);
}
.Este{
	width : 400px; 
	
}

.boton-loca{
	margin-left: 420px;
	margin-top: -67px;
}

.DivImprimirr{
	display: none;
	margin-left: -280px;
	
}
